.env
.env.*
!.env.example
/vendor
/node_modules
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*
!/storage/app/public
/database/*.sqlite
/tests
/.git
/.idea
/.vscode
/.phpunit.cache
*.md
